a,
a:active,
a:hover,
a:focus {
    text-decoration: none;
    outline: 0 none;
}

input,
textarea {
    width: 100%;
    padding: rem(10px 12px);
    outline: 0;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.compress-left-side {
	padding-right: rem(50px);
	padding-left: rem(calc(calc(100% - 1170px)/2));

	@media only screen and (max-width: 1199px) {
		padding-right: rem(calc(calc(100% - 930px)/2));
		padding-left: rem(calc(calc(100% - 930px)/2));
	}

	@media only screen and (max-width: 991px) {
		padding-right: rem(calc(calc(100% - 690px)/2));
		padding-left: rem(calc(calc(100% - 690px)/2));
	}

	@media only screen and (max-width: 767px) {
		padding-right: rem(calc(calc(100% - 510px)/2));
		padding-left: rem(calc(calc(100% - 510px)/2));
	}

	@media only screen and (max-width: 575px) {
		padding-right: rem(15px);
		padding-left: rem(15px);
	}
}
